Tsinghua3_bad_gpu_card_report:
  prometheus: Tsinghua3_vm
  cluster: bz1-shengshu1
  user: 清华3号
  available_node_threshold: 298
  focus_node_list: []
    # - gn-10-195-1-236
    # - gn-10-195-1-243
    # - gn-10-195-1-244
    # - gn-10-195-1-253
    # - gn-10-195-1-214
    # - gn-10-195-1-220
    # - gn-10-195-1-225
    # - gn-10-195-2-56
    # - gn-10-195-2-67
    # - gn-10-195-2-9
    # - gn-10-195-2-37
    # - gn-10-195-2-102
    # - gn-10-195-0-142
    # - gn-10-195-0-146
    # - gn-10-195-0-170
    # - gn-10-195-0-173
    # - gn-10-195-0-179
    # - gn-10-195-0-214
    # - gn-10-195-0-220
    # - gn-10-195-1-28
    # - gn-10-195-1-43
    # - gn-10-195-1-44
    # - gn-10-195-1-64
    # - gn-10-195-1-66
    # - gn-10-195-0-148
    # - gn-10-195-0-149
    # - gn-10-195-0-150
    # - gn-10-195-0-151
    # - gn-10-195-0-152
    # - gn-10-195-0-154
    # - gn-10-195-0-155
    # - gn-10-195-0-157
    # - gn-10-195-0-158
    # - gn-10-195-0-159
    # - gn-10-195-0-160
    # - gn-10-195-0-161
    # - gn-10-195-0-162
    # - gn-10-195-0-163
    # - gn-10-195-0-165
    # - gn-10-195-0-166
    # - gn-10-195-0-167
    # - gn-10-195-0-168
    # - gn-10-195-0-169
    # - gn-10-195-0-171